

nav{}

body, html{
	height:100%; min-height:100%; color:#fff; 
	background:#000;
	font-family: 'Podkova', sans-serif;
	
		font-family: 'lane upper', arial, sans, sans-serif;
		font-family: 'lacuna', arial, sans, sans-serif;
	font-family: 'capsuula', arial, sans, sans-serif;
font-family: 'LatoRegular', arial, sans, sans-serif;
	font-family: 'Orator Std', arial, helvetica;
	font-family: helvetica, arial, sans;
	
	}
html.js #seo{ display:none;}

#cache {
    background: #000;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed
    }

#cache.invisible {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }


/* LAYOUT */

html{ overflow-y:hidden; }

header{ height:60px; width:100%; background:#000;  position:fixed; z-index:10; font-size:16px; border-bottom:dashed 1px #444; }
header{ }
footer{ height:45px; width:100%; background:#000; bottom:0px; position:fixed; border-top:dashed 1px #444; z-index:10;}
section#home{ 
	position:relative; 
	height:100%; 
	z-index:0;
	height:600px; /* !!! to adjust dynamically ??*/
	top:70px;
	}
#main{
	position:absolute;  height:100%;	
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out; 
	width:100%;
	}



/*  SCTION TRANSITONS */
section{
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	position:absolute;
	top:70px;
	min-height:300px;
	width:100%;
	clear:both;
	display:block;
	 height:100%; /* !! */
}

section{margin-top:-100%; opacity:0; z-index:-1; }
section.out{margin-top:100%; opacity:0;}
section.active{margin-top:0%; opacity:1; z-index:1; }

	/*
	body.info #main_scroll{ margin-top: -700px; /* TO UPDATE DYNAMICALLY as well! !! */
	/*	}
body.home #main_scroll{ margin-top: 0px; }
*/

/* HEADER */
header nav{ padding: 10px 15px; padding-top:16px }
header nav a.bt{ padding:  6px 15px 4px 15px; background:#313131; 
	color:#c2c2c2; float:right; text-decoration:none; 
	margin-right:10px; z-index:20;
	border-radius:3px;
	}
header nav a:hover{ color:#fff; background:#444; text-decoration:none;}
header nav a.btCol{ float:left; }
header a, header h1{text-decoration:none; border:none;}
header h1{ padding:0px; margin:auto; color:#fff; 
	font-size:26px; display:block; 
	text-align:center;
	width:100%;
	position:fixed;
	z-index:-10;
	cursor:default;
	text-decoration:none;
}

#fade_l, #fade_r{ width:40px;  z-index:10; position:fixed; height:100%; opacity:0.6; }
#fade_l{left:0px; background:url('../img/fade_l.png'); }
#fade_r{right:0px; background:url('../img/fade_r.png'); }


	/* active states*/
	body.home nav a.btCol, body.info nav a.btInfo, body.bio nav a.btBio, body.credit nav a.btCredit{ background:#fff; color:#000;}


/* GALLERY */
#home  #navHome{ 
	height:100%; float:left; 
	width:170px; margin-right:5px; 
	padding-left:20px;
	overflow:hidden;
	}
#home  #navHome h1{ font-size:22px; padding-left:10px;}
#home  #navHome a{ 
	display:block; text-decoration:none;
	color:#777;
	padding:2px 10px ;
	font-size:20px;
	white-space:nowrap;
	
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-o-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	
 }
#home  #navHome a:hover{  color:#d0d0d0;}

#home  #navHome a .year{ font-weight:bold; }
#home  #navHome a .season{ font-weight:normal; }
#home  #navHome a .arrow{ 
	display:block; float:right; background:#f00; 
	background:url('../img/arrow.png'); 
	margin-right:-18px;
	margin-top:3px;
	width:41px; height:20px;  
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	margin-right:-100px;
	}
	#home  #navHome a.active .arrow{ 
		margin-right:-18px; 	
		opacity:1;
	}
#home  #navHome a.active{ color:#d0d0d0; text-decoration:underline;}

#home  #navHome a.video img{
	width:130px; 
	border:solid 1px #ccc;
}




.gallery{ 
	border-left:solid 3px #fff; padding-left:15px; 
	display:inline; float:left; 
	position:absolute; height:100%;  
	width:4900px;
	white-space:nowrap;
}
	
.gallery img{ 
	cursor:pointer;
	height:100%; margin-right:5px; 
	 white-space:nowrap;
	float:left; 
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	}



.gallery img.loading{opacity:0;  }

	
/* gallery, next / prev BT */

	.arrows{ float:left; }
	.arrows div{
		width:40px;
		height:40px;
		border-radius:10px;
		color:#fff;
		z-index:10000;
		position:fixed;
		bottom:25%;
		cursor:pointer;
		opacity:0.7;
		text-align:center;
		box-shadow: 0px 0px 5px rgba(255,255,255,1);
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		margin:0;
		border:2px solid #000;
	}
	.video_content .arrows	{display:none;}
	.arrows div:hover{opacity:1; border:2px solid #fff ; }

	.arrows #prev{
		left:40px;
		background:#000 url('../img/arrow_white_prev_small.png') center  no-repeat;
	}
	.arrows #next{
		right:40px;
		background:#000 url('../img/arrow_white_next_small.png') center no-repeat;
	}
	.arrows #prev.off{ margin-left:-150px; }
	.arrows #next.off{ margin-right:-150px; }
	
	
	
/* INFO */
#main{ 
	height:3000px;  
	/*background:#f00;*/
	
	}

/*
#main_scroll{

	 position:relative;
	-webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}*/




/* FOOTER */
footer{ padding-left:10px; padding-top:0px; }
footer p{ display:block; float:left; margin-right:50px; padding-top:0px; }
footer .logos{ float:right; margin-top:7px; margin-right:30px; }
footer .logos a{padding-right:30px; opacity:0.5; }
footer .logos a:hover{opacity:1; }
footer .logos a img{height:30px;}
footer .logos a.fb img{height:20px;}




