/*
MD accent: 31c5ea

*/
body {
    overflow-x: scroll
    }

body, html {
    height: 100%;
    min-height: 100%;
    color: #fff;
    background: #000;
    font-family: "Podkova", sans-serif;
    font-family: "lane upper", arial, sans, sans-serif;
    font-family: "lacuna", arial, sans, sans-serif;
    font-family: "capsuula", arial, sans, sans-serif;
    font-family: "LatoRegular", arial, sans, sans-serif;
    font-family: "Orator Std", arial, helvetica;
    font-family: helvetica, arial, sans;
    font-family: "DroidSansRegular", "Calibri", "arial", "Century Schoolbook", arial
    }

html.js #seo {
    display: none
    }

body.info #home .gallery, body.bio #home .gallery, body.credit #home .gallery {
    display: none
    }

body.info #home.in .gallery, body.bio #home.in .gallery, body.credit #home.in .gallery {
    display: inline
    }

body.info #home.out .gallery, body.bio #home.out .gallery, body.credit #home.out .gallery {
    display: inline
    }

/* animated sections are excluded temporarily... */
#cache {
    background: #000;
    -webkit-transition: all 1.2s ease-in-out;
    -moz-transition: all 1.2s ease-in-out;
    -o-transition: all 1.2s ease-in-out;
    transition: all 1.2s ease-in-out;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: fixed;
text-align:center;
    }
#cache img{margin-top:300px;
	 -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
}
#cache.invisible img{ opacity:0;}
#cache.invisible {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }

/* LAYOUT */
html {
    overflow-y: hidden
    }

header {
    height: 60px;
    width: 100%;
    background: #000;
    position: fixed;
    z-index: 10;
    font-size: 16px;
    border-bottom: dashed 1px #444
    }

footer {
    height: 45px;
    width: 100%;
    background: #000;
    bottom: 0;
    position: fixed;
    border-top: dashed 1px #444;
    z-index: 10
    }

section#home {
    position: relative;
    height: 100%;
    z-index: 0;
    height: 600px;
    /* !!! to adjust dynamically ??*/
    top: 70px
    }

#main {
    position: absolute;
    height: 100%;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    width: 100%
    }

/*  SCTION TRANSITONS */
section {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    position: absolute;
    top: 62px;
    min-height: 300px;
    width: 100%;
    clear: both;
    display: block;
    height: 100%;
    /* !! */
    }

section {
    margin-top: -100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: -1
    }

section.out {
    margin-top: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }

section.active {
    margin-top: 0%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    z-index: 1
    }

/*
	body.info #main_scroll{ margin-top: -700px; /* TO UPDATE DYNAMICALLY as well! !! */
/*	}
body.home #main_scroll{ margin-top: 0px; }
*/
/* HEADER */
header nav {
    padding: 10px 15px;
    padding-top: 16px
    }

header nav a.bt {
    padding: 6px 15px 4px 15px;
    background: #313131;
    color: #c2c2c2;
    float: right;
    text-decoration: none;
    margin-right: 10px;
    z-index: 20;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
    }

header nav a:hover {
    color: #fff;
    background: #444;
    text-decoration: none
    }

header nav a.btCol {
    float: left
    }

header a, header h1 {
    text-decoration: none;
    border: none
    }

header h1 {
    padding: 0;
    margin: auto;
    color: #fff;
    font-size: 22px;
    display: block;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: -10;
    cursor: default;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 7px
    }

#fade_l, #fade_r {
    width: 40px;
    z-index: 10;
    position: fixed;
    height: 100%;
    opacity: 0.6
    }

#fade_l {
    left: 0;
    background: url(../img/fade_l.png)
    }

#fade_r {
    right: 0;
    background: url(../img/fade_r.png)
    }

/* active states*/
body.home nav a.btCol, body.info nav a.btInfo, body.bio nav a.btBio, body.credit nav a.btCredit {
    background: #ddd;
    color: #000
    }

/* GALLERY */
#home #navHome {
    height: 100%;
    float: left;
    width: 170px;
    margin-right: 5px;
    padding-left: 20px;
    overflow: hidden
    }

#home #navHome h1 {
    font-size: 18px;
    padding-left: 10px;
		padding-bottom: 10px;
    }

#home #navHome a {
    display: block;
    text-decoration: none;
    color: #777;
    padding: 2px 10px;
    font-size: 16px;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out
    }

#home #navHome a:hover {
    color: #d0d0d0
    }

#home #navHome a .year {
    font-weight: bold
    }

#home #navHome a .season {
    font-weight: normal
    }

#home #navHome a .arrow {
    display: block;
    float: right;
    background: #f00;
    background: url(../img/arrow.png) no-repeat;
    margin-right: -18px;
    margin-top: 3px;
    width: 41px;
    height: 20px;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    margin-right: -100px
    }

#home #navHome a.active .arrow {
    margin-right: -28px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
    }

#home #navHome a.active {
    color: #d0d0d0;
    text-decoration: underline
    }

#home #navHome a.video img {
    width: 130px;
    border: solid 1px #ccc;
		opacity:0.9;

    }
#home #navHome a.video img:hover {
	border:1px solid #fff;
	box-shadow: 0 0 10px rgba(255, 255, 255, 1);
	opacity:1;
}
.gallery {
    border-left: solid 3px #fff;
    padding-left: 15px;
    display: inline;
    float: left;
    position: absolute;
    height: 100%;
    width: 4900px;
    white-space: nowrap
    }

.gallery img {
    cursor: pointer;
    height: 100%;
    margin-right: 5px;
    white-space: nowrap;
    float: left;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
		opacity:0.9;
    }
.gallery img:hover {
	opacity:1;
}
img.loading {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0
    }

/* gallery, next / prev BT */
.arrows {
    float: left
    }

.arrows div {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    color: #fff;
    z-index: 10000;
    position: fixed;
    bottom: 25%;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    filter: alpha(opacity=70);
    opacity: 0.7;
    text-align: center;
    -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 0;
    border: 2px solid #000
    }

.video_content .arrows {
    display: none
    }

.arrows div:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    border: 2px solid #fff
    }

.arrows #prev {
    left: 40px;
    background: #000 url(../img/arrow_white_prev_small.png) center no-repeat
    }

.arrows #next {
    right: 40px;
    background: #000 url(../img/arrow_white_next_small.png) center no-repeat
    }

.arrows #prev.off {
    margin-left: -150px
    }

.arrows #next.off {
    margin-right: -150px
    }

/* INFO */
#main {
    /*	height:300px; */
    /*background:#f00;*/
    }

/*
#main_scroll{

	 position:relative;
	-webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}*/
/* FOOTER */
footer {
    padding-left: 10px;
    padding-top: 0
    }

footer p {
    display: block;
    float: left;
    margin-right: 50px;
    padding-top: 0
    }

footer .logos {
    float: right;
    margin-top: 7px;
    margin-right: 30px
    }

footer .logos a {
    padding-right: 30px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5
    }

footer .logos a:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
    }

footer .logos a img {
    height: 30px
    }

footer .logos a.fb img {
    height: 20px
    }