
<!-- 

For Michel Desjardins fashion has to seduce rather than provoke. Michel Desjardins is a creator of style rather than trends. For 20 years, he has continued the tradition with finesse  and subtlety. His collections pay homage to elegance, refinement with precision of cuts and richness of fabrics. Over the years, he has distinguished himself by paying attention to details that make all his work absolutely timeless.
 
After beginning his career with John Warden, Leo Chevalier and Michel Robichaud, Michel Desjardins perfected his art in Paris. Graduated from the Chambre Syndicale de la Couture Parisisienne, he entered the house of Givenchy where he designed for the ready-to-wear and the Haute Couture  collections.
 
In 2009, Michel Desjardins opened his shop at 2155 Crescent Street, where he creates his collections of ready-to-wear and exclusive pieces.
 
HONORS
In 1990 he was chosen to represent Québec at the 7th Festival du Lin in Paris. In November 1993 he was invited by Saga Furs of Scandinavia to attend a fur seminar in Copenhagen. In 1997 , he won first prize in the  North American Fur & Fashion Competition. In 1998, he participated in the exhibition Fashion Collection at the Musée de la Civilisation in Québec  City and wins the Griffe d’Or  in 1995 and 1998. Plus, he is four time recipient of a grant from the Fondation Mode Matinée.
 
ASSOCIATIONS
In recent years, Michel Desjardins is associated with many causes. In 2008, he collaborated with the Guzzo Foundation that raises funds for research against cancer.  Since 2009 he is involved with the Logis Rose-Virginie, which helps women in need.



-->
	<div class="content2bg">
    	<div class="imgbio">
        <img src="/img/img.png" />
    	</div>
        <div class="textbgbox">
        	<div class="textbgboxL">
        	<h2>
        	  <% if(lang=='fr'){ %>
        	  Michel Desjardins, 
<em>la passion tranquille  
de la mode au Québec</em>
<% }else{ %>
  Michel Desjardins, 
<em>the quiet passion of fashion in Quebec</em>
  <% } %>
</h2>
<% if(lang=='fr'){ %>
	<p>Pour Michel Desjardins, la mode doit séduire au lieu de provoquer. Cet artisan de style plutôt que de tendances ne cesse de renouveler la tradition avec finesse et subtilité depuis plus de 20 ans. Ses collections rendent hommage à l'élégance grâce à la rigueur des coupes et la richesse des matières. Au fil des ans, il a su se distinguer par son souci du détail qui rend tout ce qu'il fait absolument indémodable.
 </p><br /> 
	<p>Après avoir débuté sa carrière auprès de John Warden, Michel Robichaud et Léo Chevalier, Michel Desjardins ira perfectionner son art à Paris. Diplômé de l'école de la Chambre syndicale de la Couture Parisienne, il entre alors à la maison de Couture Givenchy où il dessine autant pour le prêt-à-porter que pour la Haute Couture.</p><br /> 
            <p>En 2009, Michel Desjardins ouvre sa boutique au  2155 rue Crescent où il crée ses collections prêt-à-porter  et  ses pièces exclusives.
<% }else{ %>
  
  <p>For Michel Desjardins fashion has to seduce rather than provoke. Michel Desjardins is a creator of style rather than trends. For 20 years, he has continued the tradition with finesse  and subtlety. His collections pay homage to elegance, refinement with precision of cuts and richness of fabrics. Over the years, he has distinguished himself by paying attention to details that make all his work absolutely timeless.</p><br /> 

  <p>After beginning his career with John Warden, Leo Chevalier and Michel Robichaud, Michel Desjardins perfected his art in Paris. Graduated from the Chambre Syndicale de la Couture Parisisienne, he entered the house of Givenchy where he designed for the ready-to-wear and the Haute Couture  collections.</p><br /> 

  <p>In 2009, Michel Desjardins opened his shop at 2155 Crescent Street, where he creates his collections of ready-to-wear and exclusive pieces.
  


<% } %>

<br/><br/>
<a href="http://www.modemontreal.tv/videos/loeuvre-dune-vie" class="a_interview" target="_blank">
  <img src="/img/play_128.png" class="left" style="" /><div class="right;">
    <% if(lang=='fr'){ %>
        Visionez l'entrevue du bureau<br/>de la mode avec Michel Desjardins.
  <% }else{ %>
      Watch Michel Desjardins interview <br/>with bureau de la mode (FR).
    <% } %>
  </div>
  </a>
</p>
</div>
        	<div class="textbgboxr">
        	  
        	 
            <% if(lang=='fr'){ %>
            
            	<h2>Honneurs</h2>
                <p>En 1990, il est choisi pour représenter le Québec au 7ième Festival du lin à Paris. En novembre 1993, il est invité par Saga Furs of Scandinavia à un séminaire sur la fourrure à Copenhague alors qu'en 1997, il remporte le premier prix du North American Fur & Fashion Competition. En 1998, il participe à l'exposition Mode & Collection au Musée de la Civilisation à Québec et se mérite la Griffe d'Or en 1995 et en 1998. De plus, il est quatre fois récipiendaire d'une bourse de la Fondation Mode Matinée.</p>
                <h2>Associations</h2>
                <p>Depuis quelques années, Michel Desjardins s'associe à plusieurs causes. En 2008, il collabore avec la Fondation Guzzo qui amasse des fonds pour la recherche contre le cancer. Depuis 2009, il est impliqué auprès du Logis Rose-Virginie qui vient en aide aux femmes en difficulté.
 </p>


<% }else{ %>
    <h2>Honors</h2>
      <p>In 1990 he was chosen to represent Québec at the 7th Festival du Lin in Paris. In November 1993 he was invited by Saga Furs of Scandinavia to attend a fur seminar in Copenhagen. In 1997 , he won first prize in the  North American Fur & Fashion Competition. In 1998, he participated in the exhibition Fashion Collection at the Musée de la Civilisation in Québec  City and wins the Griffe d’Or  in 1995 and 1998. Plus, he is four time recipient of a grant from the Fondation Mode Matinée.</p>
      <h2>Associations</h2>
      <p>In recent years, Michel Desjardins is associated with many causes. In 2008, he collaborated with the Guzzo Foundation that raises funds for research against cancer.  Since 2009 he is involved with the Logis Rose-Virginie, which helps women in need.
 </p>
  <% } %>
  
  
            </div>
            <div class="clr"></div>
        </div>
    </div>

