
<div class="content content1">
	<div class="contentinner">
    	<div class="sitebox">
        	
            <div class="textbox">
            	<h2>Site Web</h2>
                
                <img src="/img/i_plan.gif" class="iplan"/>
                <div class="emailtext"><a href="http://iplanwebsites.com/">www.iplanwebsites.com</a></div>
                
                 <div class="txt_credits">
                    <strong>Design + Dev </strong><em>FÉLIX MÉNARD</em>
                  </div>
                  
                  
                <!-- 
                <p>I Plan Websites est un<br /> micro-studio de design et de programamtion web oeuvrant à Montréal.<span class="para"> Spécialisé dans la production d'applications web et de site originaux, nous avons collaborer >avec ce studio pour la refonte de notre site internet en 2011 .</span>
 </p>-->
            </div>
            <div class="clr"></div>
        </div>
        <div class="sitebox">
        	
            <div class="textbox">
            	<h2>Vidéos</h2>
            	<img src="/img/miaou.gif" class="miaou" />
                <div class="emailtext"><a href="#">www.video.com</a></div>
                
                
                 <div class="txt_credits">
                    <strong>Design + Dev </strong><em>FÉLIX MÉNARD</em>
                    <strong>Design + Dev </strong><em>FÉLIX MÉNARD</em>
                    <strong>Design + Dev </strong><em>FÉLIX MÉNARD</em>
                  </div>
                
                
            </div>
            <div class="clr"></div>
        </div>
        <div class="sitebox">
        	
            <div class="textbox">
            	<h2>Photos</h2>
            	<img src="/img/miaou.gif" class="miaou"/>
            	
              <!-- <span class="logo">logo.miou.img</span>--> 
                <div class="emailtext"><a href="#">www.miaou.ca</a></div>
                
                <div class="txt_credits">
                
            <strong>    Direction artistique: </strong><em>				SERGE JEAN LAVIOLETTE</em>
<strong>                Photographie:	</strong><em>				ROBERTO UGARTE</em>
<strong>                Stylisme:			</strong><em>			LU PHILIPPE GUILMETTE</em>
<strong>                Maquillage /Coiffure:	</strong><em>		CHARLOTTE-MARIE FLANNERY (MONTAGE)</em>
  <br/>
<strong>                Assistance photographie:</strong><em>		MARIE-MICHELLE</em>
<strong>                Mannequin:				</strong><em>		VICTORYA (FOLIO)</em>
  <br/>
<strong>                Chaussure:			</strong><em>			ALDO</em>
<strong>                Collier:			</strong><em>				CLAUDIA</em>
<strong>                Bracelets:		</strong><em>				DANAH H.  /  ISABELLE MAY</em>
<strong>                Gants:				</strong><em>			ESSENTIEL</em>
                
                </div>
                


                
            </div>
            <div class="clr"></div>
        </div>
        <div class="clr"></div>
        
    </div>
	</div>