
<div class="content content1">
	<div class="contentinner">
    	<div class="sitebox">
        	<div class="siteline"></div>
            <div class="textbox">
            	<h2>Site Web</h2>
                
                <img src="/img/i_plan.gif" />
                <div class="emailtext"><a href="http://iplanwebsites.com/">www.iplanwebsites.com</a></div>
                <!-- 
                <p>I Plan Websites est un<br /> micro-studio de design et de programamtion web oeuvrant à Montréal.<span class="para"> Spécialisé dans la production d'applications web et de site originaux, nous avons collaborer >avec ce studio pour la refonte de notre site internet en 2011 .</span>
 </p>-->
            </div>
            <div class="clr"></div>
        </div>
        <div class="sitebox">
        	<div class="siteline"></div>
            <div class="textbox">
            	<h2>Vidéos</h2>
                <div class="logobg">
                	<h2><a href="#">logo.img</a></h2>
                </div>
                <div class="emailtext"><a href="#">www.video.com</a></div>
                <div class="camerbox">
                	<h2>Caméra</h2>
                    <h2>Maxime Tremblay</h2>
                    <div class="brod"></div>
                </div>
                <div class="camerbox">
                	<h2>Montage</h2>
                    <h2>SteveTremblay</h2>
                    <div class="brod"></div>
                </div>
                <div class="camerbox">
                	<h2>Musique</h2>
                    <h2>Nina Simone</h2>
                    <div class="brod"></div>
                </div>
                <div class="camerbox">
                	<h2>Post-prod</h2>
                    <h2>Robert Tremblay</h2>
                    <div class="brod"></div>
                </div>
                
            </div>
            <div class="clr"></div>
        </div>
        <div class="sitebox">
        	<div class="siteline"></div>
            <div class="textbox">
            	<h2>Photos</h2>
            	<img src="/img/miaou.gif" />
            	
              <!-- <span class="logo">logo.miou.img</span>--> 
                <div class="emailtext"><a href="#">www.miaou.ca</a></div>
                
                <div class="txt_credits">
                
            <strong>    Direction artistique: </strong><em>				SERGE JEAN LAVIOLETTE</em>
<strong>                Photographie:	</strong><em>				ROBERTO UGARTE</em>
<strong>                Stylisme:			</strong><em>			LU PHILIPPE GUILMETTE</em>
<strong>                Maquillage /Coiffure:	</strong><em>		CHARLOTTE-MARIE FLANNERY (MONTAGE)</em>
  <br/>
<strong>                Assistance photographie:</strong><em>		MARIE-MICHELLE</em>
<strong>                Mannequin:				</strong><em>		VICTORYA (FOLIO)</em>
  <br/>
<strong>                Chaussure:			</strong><em>			ALDO</em>
<strong>                Collier:			</strong><em>				CLAUDIA</em>
<strong>                Bracelets:		</strong><em>				DANAH H.  /  ISABELLE MAY</em>
<strong>                Gants:				</strong><em>			ESSENTIEL</em>
                
                </div>
                
			<div class="camerbox">
                	<h2>Accessoires</h2>
                    <h2>Robert Tremblay</h2>
                    <div class="brod"></div>
                </div>	
            </div>
            <div class="clr"></div>
        </div>
        <div class="clr"></div>
        
    </div>
	</div>