
<div class="content content1">
	<div class="contentinner">
    	<div class="sitebox">
        	<div class="siteline"></div>
            <div class="textbox">
            	<h2>Site Web</h2>
                <div class="planbox">
                	<h3>I Plan</h3>
                </div>
                <div class="websites">
                	<h2>Websites</h2>
                </div>
                <div class="emailtext"><a href="#">www.iplanwebsites.com></a></div>
                <p>I Plan Websites est un<br /> micro-studio de design et de<br /> programamtion web consitué,<br /> vous l'aurrez deviné, d'une seule<br /> personne.<span class="para"> Spécialisé dans la<br /> production d'applications web et de<br /> site originaux, nous avons collaborer <br />avec ce studio pour la refonte de notre site internet en 2011 .</span>
 </p>
            </div>
            <div class="clr"></div>
        </div>
        <div class="sitebox">
        	<div class="siteline"></div>
            <div class="textbox">
            	<h2>Vidéos</h2>
                <div class="logobg">
                	<h2><a href="#">logo.img</a></h2>
                </div>
                <div class="emailtext"><a href="#">www.video.com</a></div>
                <div class="camerbox">
                	<h2>Caméra</h2>
                    <h2>Maxime Tremblay</h2>
                    <div class="brod"></div>
                </div>
                <div class="camerbox">
                	<h2>Montage</h2>
                    <h2>SteveTremblay</h2>
                    <div class="brod"></div>
                </div>
                <div class="camerbox">
                	<h2>Musique</h2>
                    <h2>Nina Simone</h2>
                    <div class="brod"></div>
                </div>
                <div class="camerbox">
                	<h2>Post-prod</h2>
                    <h2>Robert Tremblay</h2>
                    <div class="brod"></div>
                </div>
                
            </div>
            <div class="clr"></div>
        </div>
        <div class="sitebox">
        	<div class="siteline"></div>
            <div class="textbox">
            	<h2>Photos</h2>
               <span class="logo">logo.img</span>
                <div class="emailtext"><a href="#">www.iplanwebsites.com></a></div>
                <p>I Plan Websites est un<br /> micro-studio de design et de<br /> programamtion web consitué,<br /> vous l'aurrez deviné, d'une seule<br /> personne.<span class="para"> Spécialisé dans la<br /> production d'applications web et de<br /> site originaux, nous avons collaborer <br />avec ce studio pour la refonte de notre site internet en 2011 .</span>
 </p>
			<div class="camerbox">
                	<h2>Accessoires</h2>
                    <h2>Robert Tremblay</h2>
                    <div class="brod"></div>
                </div>	
            </div>
            <div class="clr"></div>
        </div>
        <div class="clr"></div>
        
    </div>
	</div>