<!-- 
<small>
<p>
  <strong>© 2011</strong>
  <br/>
  M Desjardins
</p>


<p>
  <strong>Photos</strong>
  <br/>
  Norman Doe
</p>

<p>
  <strong>Site</strong>
  <br/>
  <a href="http://iplanwebsites.com/">I Plan Websites .com</a>
</p>
</small>
-->


<div class="datebox">
  	<div class="michelbox">
      	<span>©2012</span>
          <h2>Michel Desjardins</h2>
      </div>
      
      <!-- 
      <div class="michelbox">
      	<span>Photos</span>
          <h2>John Doe</h2>
      </div>
      
      
      <div class="michelbox">
      	<span>Site</span>
          <h2><a href="http://iplanwebsites.com/">I Plan Websites .com</a></h2>
      </div>
      <div class="clr"></div>
      -->
  </div>
  

<!-- 
<div class="fbbox">
	<div class="facebox">
    	<h2>facebook</h2>
    </div>
    <div class="facebox">
    	<h3>semaine<br /><span class="mode">mode</span></h3>
    </div>
    <div class="facebox">
    	<h2>XX</h2>
    </div>
</div>

-->


<div class="logos">
  <a href="http://www.facebook.com/pages/Michel-Desjardins/123817511032954" class="fb">
    <img src="/img/fb.gif" >
  </a>
  <a href="http://www.modemontreal.tv/" class="mode">
    <img src="/img/logo_mode.gif" >
  </a>
</div>
  