<div class="datebox">
	<div class="michelbox">
    	<span>&copy; 2012</span>
        <h2>Michel Desjardins</h2>
    </div>    
    <div class="michelbox">
    	<span>Site</span>
        <h2><a href="http://iplanwebsites.com/">IPlanWebsites.com</a></h2>
    </div>
    <div class="clr"></div>
</div>
  

<div class="logos">
  <a href="http://www.facebook.com/pages/Michel-Desjardins/123817511032954" class="fb"><img src="/img/fb.png" alt="Michel Desjardins on Facebook" /></a>
  <a href="http://www.modemontreal.tv/" class="mode"><img src="/img/logo_mode.png"  alt="Mode Montr&eacute;al TV" /></a>
</div>
  