<div class="content">
	<div class="contentinner">
	<div class="contentbox">
    	<p>Une ligne de vêtement pour femmes unique<br /> aliant luxe et lorem ipsum. En plus du vaste<br /> inventaire de prêt-à-porter disponible en bou-<br />tique, un service d'ajustement et de création<br /> sur mesure vous est offert.</p>
    </div>
<div class="contentr">
    	<div class="infoboxr">
        	<h2>(514) 284-2022 </h2>
            <h2>info@micheldesjardins.com</h2>
        </div>
        <div class="bountiquebox">
        	<h2>L'Atelier-Boutique</h2>
       	  <h2><span class="le">Le meilleur moyen de découvrir et aprécier<br /> notre game de vêtements exeptionels*. </span></h2>
			<div class="ruebox">
            	<h3>2155 rue Crescent  #100<br />
				Montréal, Qc<br />
				H3C 2C1</h3>
            </div>
            <div class="lunbox">
              <h2>sun - ven.	  10h - 6h<br />sam.	           11h - 5h</h2>
                </div>
            <div class="clr"></div>
</div>
        <div class="fisherbox">
        	<h3>Fisher & Company</h3>
            <h2>515 Richmond Street North<br />
London, ON<br />
N6A 5N4<br />
(519) 672-0073</h2>
        </div>
  </div>
    <div class="clr"></div>
    </div>
    </div>