<div class="content">

	  
	  
	  
<div class="leftCol">	  
  
  
  
  
  
  <div class="bountiquebox">
    
    
    
    <div class="lunbox">
        <h2>
          lundi <span>10h - 6h</span><br />
          mardi <span>10h - 6h</span><br />
          mercredi <span>10h - 6h</span><br />
          jeudi <span>10h - 6h</span><br />
          vendredi <span>10h - 6h</span><br />
          samedi <span>11h - 5h</span><br />
          dimanche <span>fermé</span><br />
          
        </h2>
    </div>
    
    
    
    
    
  	<h2>L'Atelier-Boutique</h2>
  	
 	  <p class="le">Le meilleur moyen de découvrir et aprécier notre game de vêtements exeptionels. </p>


    <div class="ruebox">
      	<h3>
      	    2155 rue Crescent  #100<br />
	          Montréal, Qc<br />
	          H3C 2C1
	      </h3>
      </div>
      
      
      
      
      <div class="infoboxr">
        <span><a href="mailto:info@micheldesjardins.com">info@micheldesjardins.com</a></span>
        	<span>(514) 284-2022 </span>
           
      </div>
      
      
      
      
      <div class="clr"></div>
</div> <!-- eo boutique box -->



<!-- 
	<div class="intro">
	  <h2>Michel Desjardins</h2>
    	<p>Une ligne de vêtement pour femmes unique<br /> aliant luxe et lorem ipsum. En plus du vaste<br /> inventaire de prêt-à-porter disponible en bou-<br />tique, un service d'ajustement et de création<br /> sur mesure vous est offert.</p>
  </div>
    -->

    <img src="/img/contentbg.jpg" class="boutique" />
</div><!-- eo left col-->
    
    
    
    
    
    
<div class="contentr">
    	
    	
      
        
        



        <div class="retailer">
        	<h3>Fisher & Company</h3>
            <span class="address">515 Richmond Street North<br />
                London, ON<br />
                6A 5N4<br />
                (519) 672-0073</span>
        </div>
        
        <div class="retailer">
        	<h3>Une île en Amérique</h3>
            <span class="address">515 Richmond Street North<br />
                London, ON<br />
                6A 5N4<br />
                (519) 672-0073</span>
        </div>
        
        
  </div> <!-- eo R-->
  
  
  
    </div>