<div class="content">

	  
	  
	  
<div class="leftCol">	  
  
  <div class="infoboxr">
    	<h2>(514) 284-2022 </h2>
       <h2><a href="mailto:info@micheldesjardins.com">info@micheldesjardins.com</a></h2>
  </div>
  
  
	<div class="intro">
	  <h2>Michel Desjardins</h2>
    	<p>Une ligne de vêtement pour femmes unique<br /> aliant luxe et lorem ipsum. En plus du vaste<br /> inventaire de prêt-à-porter disponible en bou-<br />tique, un service d'ajustement et de création<br /> sur mesure vous est offert.</p>
  </div>
    

    <img src="/img/contentbg.jpg" class="boutique" />
</div><!-- eo left col-->
    
    
    
    
    
    
<div class="contentr">
    	
    	<div class="lunbox">
          <h2>
            lundi <span>10h - 6h</span><br />
            mardi <span>10h - 6h</span><br />
            mercredi <span>10h - 6h</span><br />
            jeudi <span>10h - 6h</span><br />
            vendredi <span>10h - 6h</span><br />
            samedi <span>11h - 5h</span><br />
            dimanche <span>fermé</span><br />
            
          </h2>
      </div>
      
        
        <div class="bountiquebox">
        	<h2>L'Atelier-Boutique</h2>
       	  <p class="le">Le meilleur moyen de découvrir et aprécier notre game de vêtements exeptionels. </p>
			
			
	        <div class="ruebox">
            	<h3>
            	    2155 rue Crescent  #100<br />
				          Montréal, Qc<br />
				          H3C 2C1
				      </h3>
            </div>
            
            
            
            <div class="clr"></div>
      </div> <!-- eo ruebox -->



        <div class="fisherbox">
        	<h3>Fisher & Company</h3>
            <h2>515 Richmond Street North<br />
                London, ON<br />
                6A 5N4<br />
                (519) 672-0073</h2>
        </div>
        
  </div> <!-- eo R-->
  
  
  
    </div>