<iframe src="http://player.vimeo.com/video/<%=video%>?title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;color=31c5ea" width="<%=$(window).width() -250%>" height="99%" frameborder="0" style="background:#000;"></iframe>

<!-- 

RUFUS: 26827438
MD: 28364274

<p><a href="http://vimeo.com/26827438">RUFUS | WE LEFT</a> from <a href="http://vimeo.com/monekeleon">MONEKELEON</a> on <a href="http://vimeo.com">Vimeo</a>.</p>


<iframe src="http://player.vimeo.com/video/22439234" width="940" height="529" frameborder="0"></iframe>
<iframe src="http://player.vimeo.com/video/22439234" width="940" height="529" frameborder="0"></iframe>


-->